<div class="container">
  <h1 class="display-4">Angular CRUD</h1>
  <h5 class="text-muted mb-5">Using local JSON Server</h5>
  <form #myForm="ngForm">
    <div class="form-group">
      <label for="name">Full Name</label>
      <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp"
        [(ngModel)]="userObj.name" />
    </div>
    <div class="form-group">
      <label for="mobile">Mobile Number</label>
      <input type="text" class="form-control" id="mobile" name="mobile" aria-describedby="mobileHelp"
        [(ngModel)]="userObj.mobile" />
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
        [(ngModel)]="userObj.email" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="conpany" name="password" class="form-control" id="password"
        [(ngModel)]="userObj.password" />
    </div>

    <button type="button" class="btn btn-primary" (click)="addUser(myForm.value)" *ngIf="!isEdit">
      SUBMIT
    </button>
    <button type="button" class="btn btn-info ml-2" (click)="updateUser()" *ngIf="isEdit">
      UPDATE
    </button>
  </form>
  <br />
  <!-- table -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Full Name</th>
        <th scope="col">Mobile</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of allUsers">
        <td>{{ user.name }}</td>
        <td>{{ user.mobile }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.password }}</td>
        <td>
          <button class="btn btn-outline-dark btn-sm" (click)="editUser(user)">
            <i class="fa fa-edit"></i>
          </button>
        </td>
        <td>
          <button class="btn btn-outline-danger btn-sm ml-2" (click)="deleteUser(user)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>
